
/* @use "@material/checkbox"; */
button{
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:40px;
  
}
body{
  /* background-image: url('../../images/background.png'); */
}

/* body{
  margin: 5px;
  padding: 5px;
  border: 2px solid red;
  background-color:#366608;
} */
    @media screen and (max-width:330px){
      button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius:40px;
        
        }
        .form{
          position: static;
          margin: auto;
          margin-top: 2cm;
          border:  solid black;
          width: 80%;
          height: auto;
          text-align: center;
          border-radius:30px;
          margin-bottom: 2cm;
          
        }
    }
  
  
  
    .input {
      border: 4px solid white; 
      -webkit-box-shadow: 
        inset 0 0 8px  rgba(0,0,0,0.1),
              0 0 16px rgba(0,0,0,0.1); 
      -moz-box-shadow: 
        inset 0 0 8px  rgba(0,0,0,0.1),
              0 0 16px rgba(0,0,0,0.1); 
      box-shadow: 
        inset 0 0 8px  rgba(0,0,0,0.1),
              0 0 16px rgba(0,0,0,0.1); 
      padding: 15px;
      background: rgba(255,255,255,0.5);
      margin: 0 0 10px 0;
      width: 50%;
  }
   
  
  .form{
    position: static;
    margin: auto;
    margin-top: 2cm;
    border:  solid black;
    width: 60%;
    height: auto;
    text-align: center;
    border-radius:30px;
    margin-bottom: 2cm;
   
    
  }
  @media screen and (max-width:900px){
    .form{
    position: static;
    margin: auto;
    margin-top: 3cm;
    border:  solid black;
    width: 80%;
    height: auto;
    text-align: center;
    border-radius:30px;
  }
}
  
  label{
    width: 100px;
    display: inline-block;
  }
  .input{
    display: inline-block;
    width:55%;
  }
  
  .warning{
    visibility:hidden;
    color: red;
  }
  
  
  .background-size-setter
  {
    height: 75vh;
    background-size: cover;
  }
  #radio{
    border: none;
    display: contents;
    
  }
  #radio-btn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input.form-inline.form-group {
    justify-content: left !important;
    display: flex;
  }
  
  @media screen and (max-width:600px){
    .form{
      width: 95%;
    }
    #label1{
      align-content: center;
    }
    #radio-btn{
      display: inline-block;
      align-items: center;
      justify-content: center;
    }
    
    .input.form-inline.form-group {
      justify-content: left !important;
      display: inline-block;
    }
    .input{
      width:95%;
    }
  }
  
  
   
  
  @media screen and (max-width:1000px){
    #label1{
      align-content: center;
    }
    .form{
      width: 90%;
    }
    .input{
      width: 60%;
    }
    #radio-btn {
      display: flex;;
    }
  }


  
  
  


/* this is for removing up and down arrow for input type number  */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Mozilla */
input[type=number] {
  -moz-appearance: textfield;
}